@charset "UTF-8";


.top-bar
{
  height: 60px;
  background: white;
  border-bottom: solid #EC8574 2px;
  box-shadow: 1px 10px 10px #888888;
  position: relative;
  z-index: 200000;
}

.top-bar li {
  background: white;
}

.top-bar-section a {
  height: 58px;
  background: white;
}

.top-bar li i {
  position: absolute;
  margin-top: 5px;
  color: #ec8674;
}

.top-bar li .icon-over{
    color: #e73827;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.top-bar li .active{
    color: #e73827;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.top-bar li:hover i {
    opacity: 0.9;
    width: 50px;
    height: 50px;
    transition-duration: 0.8s;
}

.top-bar li:hover span {
  color: #e73827;
}

/*Change background on hover li */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: white;
  background: white;
}

/*Change background on hover li */
.top-bar.expanded .top-bar-section li:not(.has-form) a:not(.button):hover {
  border-bottom: solid 2px #e73827;
  border-top: solid 2px #e73827;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #ffffff;
}

.top-bar .toggle-topbar.menu-icon a{
  color: #ec8674;
}
.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #ec8674, 0 7px 0 1px #ec8674, 0 14px 0 1px #ec8674;
}

.menu-text {
  color: #ec8674;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 5px;
  display: none;
}

.menu-text.activeText {
  color: #e73827;
}

.top-bar.expanded .menu-text{
  display: inline-block;
}

.top-bar.expanded .ribbon {
  display: none;
}


#menu {
    font-family: "TeXGyreAdventorBold","AvantGarde-Demi","Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,"AppleGothic",sans-serif;
    font-size: 35px;
	font-weight: bold;
	position: relative;
	top:115px;
    line-height: 1;
    list-style: none outside none;
    margin-left: 0px;
    padding: 0 0 0.2em;
    right: 0;
	display: inline-block;
    text-shadow: 2px -2px 0 #c1c7c7, 1px -1px 0 #c1c7c7;
    z-index: 1;
	width: 600px;
}

#menu:before, #menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu li {
    margin-left: 0px;
    padding: 0;
    text-align: center;
	display: inline-block;
}

#menu li a {
    color: #4a4646;
    display: inline-block;
    line-height: 1.5;
    position: relative;
	text-decoration: none;
}

#menu li a:before {
    -moz-box-sizing: border-box;
    color: #EC8574;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}

#menu li a[href*="social_network"]:before {
    content: "SocialNetwork";

}

#menu li a[href*="aboutme"]:before {
    content: "FBI";
}

#menu li a[href*="works"]:before {
    content: "Projects";
}

#menu li a[href*="contact"]:before {
    content: "Contact";
}

#menu li a[href*="games"]:before {
    content: "Games";
}

#menu li a:hover {
    border-bottom: medium none;
    text-decoration: none;
}

#menu li a:hover:before {
    width: 100%;
}

#menu li.active a {
    color: #EC8574;
    cursor: default;
}

#menu li.active a:before {
    content: none;
}


.ribbon {
  margin-right: 10px;
  float: left;
}
/* End demo css */

.ribbon {
  display: block;
  width: 50px;
  position: absolute;
  color: #fff;
  padding: 10px 0 10px;
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.ribbon:before {
  display: block;
  width: 50px;
  height: 0;
  position: absolute;
  top: 4px;
  content: "";
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.ribbon:after {
  display: block;
  width: 0;
  height: 0;
  content: "";
  position: relative;
  bottom: -35px;
  z-index: 100;
  border-width: 0 25px 25px 25px;
  border-style: solid;
}

/*
    Ribbon colors
*/

.ribbon.orange {
  position: relative;
  left: -100px;
  top: 60px;
  background-color: #ec8674;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e73827), to(#e44200));
  background-image: -moz-linear-gradient(top, #e73827, #ec8674);
  background-image: -ms-linear-gradient(top, #e73827, #ec8674);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e73827), color-stop(100%, #ec8674));
  background-image: -webkit-linear-gradient(top, #e73827, #ec8674);
  background-image: -o-linear-gradient(top, #e73827, #ec8674);
  background-image: linear-gradient(top, #e73827, #ec8674);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73827', endColorstr='#e44200', GradientType=0);
}
.ribbon.orange:after {
  border-color: #ec8674 #ec8674 transparent #ec8674;
}